<!DOCTYPE HTML>
<html lang='en'>
<head>
<title>Administration Creation Page</title>
<meta charset='utf-8'>
<script>
function validateForm(f) {
var username = f.username.value.trim();
var password = f.password.value.trim();
var confirmPassword = f.confirmPassword.value.trim();
var usernameErrorSection = document.getElementById('usernameErrorSection');
var passwordErrorSection = document.getElementById('passwordErrorSection');
var confirmPasswordErrorSection = document.getElementById('confirmPasswordErrorSection');
usernameErrorSection.innerHTML = '';
passwordErrorSection.innerHTML = '';
confirmPasswordErrorSection.innerHTML = '';

if(username.length == 0) {
usernameErrorSection.innerHTML = 'Required';
f.username.focus();
return false;
}

if(password.length == 0) {
passwordErrorSection.innerHTML = 'Required';
f.password.focus();
return false;
}

if(confirmPassword !== password) {
confirmPasswordErrorElement.innerHTML = 'Password not matching';
f.confirmPassword.focus();
return false;
}

return true;
}
</script>
</head>
<body>
<h1>Administration Module</h1>
<h3>Setup Administrator Account</h3>
<form action='createAdmin' method='POST' onsubmit='return validateForm(this)'>
<table border='0'>
<tr>
<td>Username</td>
<td><input type='text' id='username' name='username' maxlength='15' size='16'/></td>
</tr>
<tr>
<td>Password</td>
<td><input type='password' id='password' name='password' maxlength='15' size='16'/></td>
</tr>
<tr>
<td>Confirm Password</td>
<td><input type='password' id='confirmPassword' name='confirmPassword' maxlength='15' size='16'/></td>
</tr>
<tr>
<td colspan='2' align='center'><button type='submit'>Create</button></td>
</tr>
</table> 
</form>
</body>
</html>